.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons__link {
  padding: 0.8rem;
  opacity: 0;
  animation: fadeLeftToRight .3s ease-in 1.05s forwards;

  &:not(:last-child) {
    margin-right: 1em;
  }

  &:nth-child(1) {
    animation-delay: 1.15s;
  }
  
  .social-icons__icon {
    width: 1.4rem;
    height: 1.4rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* animations */

@keyframes fadeLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}